# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
.env

# Testing
.pytest_cache/
.coverage
htmlcov/
tests/data/

# Local build/output
output/
dist/
build/
*.egg-info/


# Logs
*.log

# Project Specific
get-pip.py
test_data/
lib/
node_modules/
.npm/
test_ui.js

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Documentation - Keep by default
!docs/